@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-div{
  background-color: black;
  background-image: url('./assets/paul-volkmer-qVotvbsuM_c-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#wrap{
  max-width: fit-content;
}

#imgdiv{
  background-image: url('./assets/971.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#content h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content p{
  font-family: sans-serif;
}

